body {
    @apply min-h-screen bg-neutral-900 transition-all duration-300 leading-5 text-base ease-in-out px-4;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:after {
        content: "";
        z-index: -1;
        @apply absolute opacity-70 translate-x-1/4 transition-all duration-300 translate-y-1/4 bottom-1/4 right-1/4 w-40 h-40 lg:w-80 lg:h-80 rounded-full bg-gradient-to-b from-fuchsia-500 to-purple-500 aspect-square;
    }
    &:before {
        content: "";
        z-index: -1;
        @apply absolute opacity-70 -translate-x-1/4 transition-all duration-300 -translate-y-1/4 top-1/4 left-1/4 w-40 h-40 lg:w-80 lg:h-80  rounded-full bg-gradient-to-t to-pink-600 from-red-500 aspect-square;
    }
}
